<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}} | {{site.name}}</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel-"stylesheet" href="/css/glyphicons.less">
</head>

<body>
	<header>
		<!-- Desktop Navigation -->
		<div class="container-fluid desk-nav">
			<div class="row vert-align">
				<div class="col-sm-4">
					<div class="col-sm-6 navitem navitem-border-left">
						<a href="/">Home</a>
					</div>
					<div class="col-sm-6 navitem navitem-right-left">
						<a href="/contact">Contact</a>
					</div>
				</div>
				<div class="col-sm-4">
					<img src="/images/eagle_rock_logo.jpg" class="navpic">
				</div>
				<div class="col-sm-4">
					<div class="col-sm-6 navitem navitem-border-right">
						<a href="/menu">Menu</a>
					</div>
					<div class="col-sm-6 navitem navitem-right-right">
						<a href="/about">About</a>
					</div>
				</div>
			</div>
  	</div>
		<!-- Cellphone Navigation -->
		<nav class="navbar navbar-default cell-nav">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">EagleRock.Kitchen</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="/">Home</a></li>
		        <li><a href="/contact">Contact</a></li>
		        <li><a href="/menu">Menu</a></li>
		        <li><a href="/about">About</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
  </header>

	<main>
		{{{ body }}}
	</main>

	<footer>
		<div class="container-fluid footing">
			<div class="row">
				<div class="col-sm-3 footspace">
					<h5 class="bottom">Location</h5>
					<p>2501 Colorado Boulevard Unit F
					<br>
					Los Angeles, CA 90041</p>
				</div>
				<div class="col-sm-3 footspace">
					<h5 class="bottom">Follow Us</h5>
					<a href="https://www.facebook.com/EagleRockKitchen-553878048113415/?fref=ts">Facebook</a>
					<br>
					<a href="https://www.instagram.com/eaglerockkitchen/?hl=en">Instagram</a>
				</div>
				<div class="col-sm-3 footspace">
					<h5 class="bottom">Get In Touch</h5>
					<p>1.323.362.2263
					<br>
					info@eaglerock.kitchen</p>
				</div>
				<div class="col-sm-3 footspace">
					<h5 class="bottom">Hours</h5>
					<div class="col-sm-6 time">
						<p>Sunday-Friday
						<br>
						Saturday</p>
					</div>
					<div class="col-sm-6 time">
						<p>10am-8pm
						<br>
						Closed</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="myfooter">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p class="copyright">&copy; Copyright 2016 EagleRock.Kitchen</p>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>
