<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="/images/menu-items/breakfast/bangus.jpg" height="500" width="750" alt="Image" class="img-responsive">
			</div>
			<div class="col-sm-6">
				<img src="/images/menu-items/breakfast/combo.jpg" height="500" width="750" alt="Image" class="img-responsive">
			</div>
		</div><br>
		<div class="row">
			<div class="col-sm-6">
				<img src="/images/menu-items/breakfast/cornedbeef.jpg" height="500" width="750" alt="Image" class="img-responsive">
			</div>
			<div class="col-sm-6">
				<img src="/images/menu-items/breakfast/longanisa.jpg" height="500" width="750" alt="Image" class="img-responsive">
			</div>
		</div><br>
		<div class="row">
			<div class="col-sm-6">
				<img src="/images/menu-items/breakfast/tapa.jpg" height="500" width="750" alt="Image" class="img-responsive">
			</div>
			<div class="col-sm-6">
				<img src="/images/menu-items/breakfast/tocino.jpg" height="500" width="750" alt="Image" class="img-responsive">
			</div>
		</div><br>
		<div class="row">
			<div class="col-sm-6">
				<img src="/images/menu-items/breakfast/tocino2.jpg" height="500" width="750" alt="Image" class="img-responsive">
			</div>
			<div class="col-sm-6">
				<img src="/images/menu-items/breakfast/tofusteak.jpg" height="500" width="750" alt="Image" class="img-responsive">
			</div>
		</div><br>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
			</div>
		</div>
</div>
