html {
  background-color: #0AB72A;
}

main {
  background-color: #0AB72A;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-size: 14px;
}

header {
  background-color: #0AB72A;
}

/* Navigation CSS begins */
.vert-align {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navpic {
  width: 100%;
  height: auto;
}

.navitem {
  font-size: 1.7vw;
  font-family: "museo-sans", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline;
}

.navitem a {
  color: #3CBE4E;
}

.navitem a:hover {
  color: green;
  text-decoration: none;
}

.navitem-border-left {
  text-align: center;
}

.navitem-right-left {
  text-align: left;
  padding-right: 0px;
}

.navitem-border-right {
  text-align: center;
}

.navitem-right-right {
  text-align: left;
}
/* Navigation CSS ends */

/* Footer CSS begins */
footer {
  background-color: #0AB72A;
  padding-bottom: 20px;
}

footer p {
  font-weight: 600;
  font-family: Courier;
}

footer a {
  font-weight: 600;
  font-family: Courier;
  color: inherit;
}

footer a:hover {
  color: green;
  text-decoration: none;
}

.footing {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px 15px 15px 15px;
}

.myfooter {
  padding-top: 10px;
  border-top: solid;
  border-width: 1px;
  background-color: #61C46E;
}

.copyright {
  text-transform: uppercase;
  font-weight: 600;
  font-family: Courier;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bottom {
  color: #0AB72A;
  font-weight: 700;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
}

.bottom a {
  color: black;
}

.bottom a:hover {
  color: green;
  text-decoration: none;
}

.time {
  padding-left: 0px;  /* !important; */
}

.footspace {
  text-align: center;
}
/* Footer CSS ends */

.side-car-text {
  height: auto;
  width: 28.3333%;
  background-color: white;
  padding: 15px;
  border-radius: 15px 15px 15px 15px;
}

.side-car-text p {
  font-size: 1rem;
  margin: 0px;
  color: rgba(25, 25, 25, 0.65);

}

/* Carousel CSS begins */
.carousel-inner img {
  width: 100%;  /* !important; */
  height: auto !important; /* !important; */
  min-height: 200px;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
  background-repeat: repeat-x;
}
/* Carousel CSS ends */

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .dylCarousel {
      /*  display: none !important; */
    }
}
